* {
    margin: 0;
}

#fon {
    z-index: -1;
}

body {
    background-image: url("fonGame.jpg");
}

h1 {
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.441);
    color: rgba(255, 255, 255, 0.671);
    font-family: 'Kablammo', cursive;
    font-weight: normal;
    margin: 20px 0;
}

h2 {
    float: left;
    font-family: 'Caveat', cursive;
}

.hearts {
    float: right;
}

.hearts img {
    height: 30px;
}
#game img{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
#stalker{
    transition: transform 3s;
}
#buttons #shootbutton{
    width: 120px;
    float: right;
}
#game {
    background-color: aquamarine;
    clear: both;
    background-image: url("maxresdefault.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    max-width: 100%;
    margin: auto;
}
.buttonArrow{
    width: 80px;
    position: absolute;
    left: 25%;
    top: 50px;
}
.buttonArrow:nth-of-type(1){
    transform:  translate(0px,-60px) rotate(90deg);
}
.buttonArrow:nth-of-type(2){
    transform:  translate(60px,0px) rotate(180deg);
}
.buttonArrow:nth-of-type(3){
    transform:  translate(0px,60px) rotate(-90deg);
}
.buttonArrow:nth-of-type(4){
    transform:  translate(-60px,0px);
}
#buttons{
    position: relative;
}
#game .bubble{
    width: 30px;
}
@media (min-width:600px){
    #buttons{
        display:none;
    }
}
